<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ValentinRebechi.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Valentin Rebechi</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Tengo 23 años, soy estudiante de la carrera de licenciatura en sistemas,hice este curso para conocer 
                nuevas herramientas y metodos para mejorar mi programacion.
            </p>
        </span>
    </div>
</div> 